@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

nav{
    font-family: 'ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 69px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
    cursor: pointer;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: ubuntu, sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('Images/bg.jpg');
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(46, 43, 43);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 10px;
}
.icons svg{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

#masterPause{
   display: none;
}   

.songItemContainer{
    margin-top: 35px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    /* width: 80%; */
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 50px;
    height: 50px;
    margin: 0 23px;
    border-radius: 34px;
}

.timeStamp{
    margin: 0 23px;
    gap: 10px;
    display: flex;
}

.timeStamp svg{
    margin-top: 2px;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{ 
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.songItemPause{
    display: none;
}